*{
  box-sizing: border-box;
}
body {
  font-family: "Lato", "Oswald", "Playfair Display", sans-serif;
  background-color: #F4F4F4;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: #008B8B;
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}


/* Top menu bar */

.menubar {
  display: flex;
  width: 100vw;
}

.menuLeft{
  color: #6C6C6C;
  margin-left: 140px;
  margin-right: auto;
}
.menuRight{
  color: #A9A9A9;
  margin-right: 145px;
  margin-left: auto;
}
.menuitem{
  letter-spacing: 1px;
  padding-top: 20px;
  font-size: 11px;
  font-family: "Lato";
  font-weight: bold;
  text-align: center;
  display: inline-block;
  height: 55px;
  margin: 0;
}

.leftMenu{
  padding-left: 10px;
  padding-right: 10px;
}
.rightMenu {
  width: 23px;
  transform: translateX(-10px);
  font-size: 13px;
}
.port {
  transform: translateX(1px);
}
.trav {
  transform: translateX(2px);
}
.bout {
  transform: translateX(3px);
}
.cont {
  transform: translateX(4px);
}
.srch {
  transform: translateX(1px);
}
/* basic structure of main page, diving content into two columns */

.twocolumns {
  margin-top: 51px;
  margin-left: 150px;
  display: flex;
}
.container-left{
  display: flex;
  flex-direction: column;
}
.container-right{
  display: flex;
  flex-direction: column;
}


/* left column boxes with buttons and footer nav bars */

.leftbox {
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  background-color: #FFFFFF;
  width: 750px;
  height: 920px;
  margin-bottom: 50px;
}

.left-box1 .boxNav{
  transform: translateY(2px);
}

/* .left-box2 {
  transform: translateY(-2px);
} */
.left-box2 button{
  transform: translateY(1px);
}

.left-box3 {
  transform: translateY(-1px);
}

.left-box4{
  transform: translateY(-3px);
}

.footright {
  transform: translateY(2px);
}

.boxText{
  margin-top: 40px;
}

.boxTitle{
  transform: translateY(2px);
  letter-spacing: 1px;
  color: #D6805E;
  font-size: 11px;
  font-weight: bold;
}
.boxHeadline{
  color: #444444;
  font-size: x-large;
  font-family: "Oswald";
  margin-top: 15px;
  letter-spacing: 1px;
}
.articleText{
  line-height: 25px;
  text-align: justify;
  /* background-color: pink; */
  margin: 24px 40px 0 40px;
  color: #444444;
  padding: 0;
}
.boxButton{
  transform: translateY(2px);
  padding: 10px 20px 12px 15px;
  font-size: 11px;
  font-weight:bold;
  letter-spacing: 1.5px;
  margin-top: 36px;
  background-color: white;
  border-color: #D6805E;
  border-style: solid;
  color: #D6805E;
  border-width: 1px;
}

.boxNav{
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: lightgray;
  display: flex;
  height: 50px;
  padding: 20px;
  /* background-color: lightblue; */
  margin-top: 41px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 0;
  padding-right: 0;
}

.boxFoot{
  font-family: "Lato";
  font-style: italic;
  color: #C2C2C2;
}
.footleft{
  letter-spacing: .5px;
  font-size: small;
  margin-right: auto;
}
.footright{
  margin-left: auto;
}
.frItems{
  /* width: 150px; */
  transform: translateX(6px);
  letter-spacing: 6.5px;
}


/* Right-column framework */

.container-right {
  margin-left: 30px;
  background-color: #FFFFFF;
  width: 360px;
  height: 2473px;
  margin bottom: 11px;
  position: relative;
  border-color: #EAEAEA;
  border-style: solid;
  border-width: thin;
}

.bioPortrait{
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 95px;
}

.rightbox {
  transform: translateY(2px);
  height: 200px;
  margin: 10px 30px 10px 30px;
}

.right-box1 {
  height: 860px;
  border-color: #F5F5F5;
  border-width: thin;
  border-style: solid;
}

.right-box2{
  margin-top: 30px;
  height: 515px;
  border-color: #F5F5F5;
  border-width: thin;
  border-style: solid
}

.right-box3{
  text-align: center;
  margin-top: 30px;
  height: 485px;
  border-color: #F5F5F5;
  border-width: thin;
  border-style: solid
}

.bioName{
  color: #444444;
  text-align: center;
  font-family: "Oswald";
  font-size: large;
  font-weight: 500;
  padding-top: 70px;
  padding-bottom: 0;
  margin-bottom: 0;
  letter-spacing: .75px;
  /* transform: translateX(-5px);*/
  transform: translateY(-2px);
}

.bioText{
  color: #666666;
  padding-top: 0;
  margin: 20px 30px 25px 30px;
  text-align: center;
  line-height: 25px;
}

.bioIcons{
  color: #AAAAAA;
  width: 350px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 9px;
  transform: translateX(-2px);
}

.iconround {
  padding: 5px;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: thin;
}


/* Content below the bio is broken into three parent boxes and several child
boxes. */

.rightinfo{
  color: #444444;
  margin: 20px 30px 0px 30px;
  text-align: center;
  font-family: "Oswald";
}
.popTop{
  color: #444444;
  font-weight: 500;
  margin-bottom: 30px;
}
.rightinfo1{
  margin-top: 31px;
  height: 290px;
  border-bottom-color: #F5F5F5;
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.rightinfo2{
  height: 240px;
  border-bottom-color: #F5F5F5;
  border-bottom-width: thin;
  border-bottom-style: solid;
}
.rightinfo3{
  height: 240px;
}

.rightBoxImg {
  margin: 0;
  padding: 0;
}

.boxInfoSub{
  color: #444444;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}
p {
  color: #444444;
}
.dateLine {
  font-family: "Lato";
  font-size: small;
  font-style: italic;
}

.right2info {
  font-family: "Oswald";
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  height: 100px;
}
.flexbox{
  padding: 10px 10px 5px 10px;
  color: #444444;
  font-size: 13px;
  font-weight: bold;
}
.flexRight{
  padding: 10px 1 10px 1;
}

.flexLeft:hover{
  border: 1px solid #008B8B;
}

.flexbox img {
  transform: translateY(-5px);
}

date {
  font-family: "Lato";
  font-style: italic;
  color: #C2C2C2;
}

.dateLine{
  transform: translateY(2px);
}

.rightinfo2 p{
  padding-top: 1px;
}

h2 {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: normal;
  color: #444444;
}
.r2i1 {
  padding-top: 15px;
  display: block;
  text-align: center;
  height: 75px;
}

.r2i2 {
  border-bottom: 1px solid lightgray;

}
.r2i3{
  transform: translateY(3px);
  padding-top: 5px;
  height: 100px;
  border-bottom: 1px solid lightgray;
}


.r2i4{
  padding-top: 10px;
  transform: translateY(5px);
  height: 105px;
  border-bottom: 1px solid lightgray;
}


.r2i5 {
  margin-top: 5px;
  padding-top: 12px;
}
.right-box2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 13px;
}


/* Instagram section with headline and photos, which embiggen on hover. */
.gramHeadline{
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.photogrid{
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  width: 300px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.instaPort{
  padding: 5px;
}

.instaPort:hover{
  height: 135px;
  width: 135px;
  border: 2px solid #008B8B;
}


/* Bottom bar with Instagram photos, which display colored borders on hover. */

.instaBar{
  text-align: center;
  margin-top: 27px;
  height: 80px;
  width: 100vw;
  background-color: #FFFFFF;
}
.instaPhotos {
  display: flex;
  flex
  width: 100vw;
}

.instaItem {
  height: 190px;
  width: 200px;
}

.instaItem img {
  height: 190px;
  width: 180px;
}

.instaItem:hover{
  border: 2px solid #008B8B;
}
.instaTitle {
  font-size: large;
  letter-spacing: .75px;
  font-family: "Oswald";
  padding-top: 30px;

}
footer {
  text-align: center;
  color: #656565;
  height: 80px;
  width: 100vw;
  background-color: #222223;
}

.footText {
  transform: translateX(-3px);
  font-family: "Lato";
  font-size: 14px;
  padding: 25px;
}
.fa-heart{
  color: #DF726E;
}
