*{
  box-sizing: border-box;
}
body {
  font-family: "Lato", "Oswald", "Playfair Display", sans-serif;
  background-color: #F4F4F4;
}
.menubar {
  /* margin-left: 150px; */
  /* text-align: center; */
  display: flex;
  width: 100vw;
}

.menuLeft{
  color: #6C6C6C;
  margin-left: 140px;
  margin-right: auto;
}
.menuRight{
  color: #A9A9A9;
  margin-right: 145px;
  margin-left: auto;
}
.menuitem{
  /* color: #A9A9A9; */
  letter-spacing: 1px;
  padding-top: 20px;
  font-size: 11px;
  /* width: 75px; */
  font-family: "Lato";
  font-weight: bold;
  text-align: center;
  display: inline-block;
  height: 55px;
  /* background-color: pink; */
  margin: 0;
}

.leftMenu{
  padding-left: 10px;
  padding-right: 10px;
}
.rightMenu {
  width: 25px;
}

.twocolumns {
  margin-top: 51px;
  margin-left: 150px;
  display: flex;
}
.container-left{
  display: flex;
  flex-direction: column;
}
.container-right{
  display: flex;
  flex-direction: column;
}

.leftbox {
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  background-color: #FFFFFF;
  width: 750px;
  height: 920px;
  margin-bottom: 50px;
}

.boxText{
  margin-top: 41px;
}

.boxTitle{
  color: #D6805E;
  font-size: small;
  font-weight: bold;
}
.boxHeadline{
  color: #444444;
  font-size: x-large;
  font-family: "Oswald";
  margin-top: 15px;
  letter-spacing: 1px;
}
.articleText{
  line-height: 25px;
  text-align: justify;
  /* background-color: pink; */
  margin: 24px 40px 0 40px;
  color: #444444;
  padding: 0;
}
.boxButton{
  padding: 10px 20px 12px 15px;
  font-size: 11px;
  font-weight:bold;
  letter-spacing: 1.5px;
  margin-top: 35px;
  background-color: white;
  border-color: #D6805E;
  border-style: solid;
  color: #D6805E;
}

.boxNav{
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: lightgray;

  display: flex;
  height: 50px;
  padding: 20px;
  /* background-color: lightblue; */
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 0;
  padding-right: 0;
}

.boxFoot{
  font-family: "Lato";
  font-style: italic;
  color: #C2C2C2;
}
.footleft{
  letter-spacing: .5px;
  font-size: small;
  margin-right: auto;
}
.footright{
  margin-left: auto;
}
.frItems{
  /* width: 150px; */
  transform: translateX(6px);
  letter-spacing: 6.5px;

}
.rightbox {
  margin-left: 30px;
  background-color: lightblue;
  width: 360px;
  height: 2473px;
  margin bottom: 10px;
}
.instaBar{
  text-align: center;
  margin-top: 26px;
  height: 79px;
  width: 100vw;
  background-color: lightblue;
}
.instaPhotos {
  display: flex;
  width: 100vw;
}

.instaItem {
  height: 200px;
  width: 200px;
  background-color: pink;
  border: solid 1px black;
}

/* div [class *="box"]{
  background-color: red;
} */
